---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/droplets?per_page=999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 9274ea1ff9637daaf826e0c06c8387158141168e6a6225654a650e4ddbe1eeb7
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1187'
      Ratelimit-Reset:
      - '1405285645'
    body:
      encoding: UTF-8
      string: |
        {
          "droplets":[
            {
              "id":2070393,
              "name":"boinc",
              "region":{
                "slug":"nyc2",
                "name":"New York 2",
                "sizes":[
                  "1gb",
                  "2gb",
                  "4gb",
                  "8gb",
                  "16gb",
                  "32gb",
                  "48gb",
                  "64gb",
                  "512mb"
                ],
                "available":true,
                "features":[
                  "virtio",
                  "private_networking",
                  "backups"
                ]
              },
              "image":{
                "id":3240036,
                "name":"Ubuntu 14.04 x64",
                "distribution":"Ubuntu",
                "slug":"ubuntu-14-04-x64",
                "public":true,
                "regions":[
                  "nyc1",
                  "ams1",
                  "sfo1",
                  "nyc2",
                  "ams2",
                  "sgp1",
                  "lon1"
                ],
                "created_at":"2014-04-18T15:59:36Z"
              },
              "size":{
                "slug":"512mb",
                "memory":512,
                "vcpus":1,
                "disk":20,
                "transfer":1000,
                "price_monthly":"5.0",
                "price_hourly":"0.00744",
                "regions":[
                  "nyc1",
                  "sgp1",
                  "ams1",
                  "ams2",
                  "sfo1",
                  "nyc2"
                ]
              },
              "locked":false,
              "status":"active",
              "networks":{
                "v4":[
                  {
                    "ip_address":"162.243.102.170",
                    "netmask":"255.255.255.0",
                    "gateway":"162.243.102.1",
                    "type":"public"
                  }
                ],
                "v6":[]
              },
              "kernel":{
                "id":1221,
                "name":"Ubuntu 14.04 x64 vmlinuz-3.13.0-24-generic (1221)",
                "version":"3.13.0-24-generic"
              },
              "created_at":"2014-07-12T16:31:41Z",
              "backup_ids":[],
              "snapshot_ids":[],
              "action_ids":[
                28488612
              ]
            }
          ],
          "meta":{
            "total":1
          }
        }
  recorded_at: Sun, 13 Jul 2014 20:35:12 GMT
recorded_with: VCR 2.9.2
