---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/v2/droplets/2178753?per_page=999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1166'
      Ratelimit-Reset:
      - '1406347250'
    body:
      encoding: UTF-8
      string: |
        {
          "droplet":{
            "id":2178753,
            "name":"178-138",
            "memory":512,
            "vcpus":1,
            "disk":20,
            "region":{
              "slug":"nyc2",
              "name":"New York 2",
              "sizes":[
                "1gb",
                "2gb",
                "4gb",
                "8gb",
                "32gb",
                "48gb",
                "64gb",
                "512mb",
                "16gb"
              ],
              "available":true,
              "features":[
                "virtio",
                "private_networking",
                "backups"
              ]
            },
            "image":{
              "id":5141286,
              "name":"Ubuntu 14.04 x64",
              "distribution":"Ubuntu",
              "slug":"ubuntu-14-04-x64",
              "public":true,
              "regions":[
                "nyc1",
                "ams1",
                "sfo1",
                "nyc2",
                "ams2",
                "sgp1",
                "lon1"
              ],
              "created_at":"2014-07-23T17:08:52Z"
            },
            "size":{
              "slug":"512mb",
              "transfer":1,
              "price_monthly":5.0,
              "price_hourly":0.00744
            },
            "locked":true,
            "status":"new",
            "networks":{
              "v4":[
                {
                  "ip_address":"107.170.119.180",
                  "netmask":"255.255.240.0",
                  "gateway":"107.170.112.1",
                  "type":"public"
                }
              ],
              "v6":[]
            },
            "kernel":{
              "id":1221,
              "name":"Ubuntu 14.04 x64 vmlinuz-3.13.0-24-generic (1221)",
              "version":"3.13.0-24-generic"
            },
            "created_at":"2014-07-26T03:20:27Z",
            "features":[
              "virtio"
            ],
            "backup_ids":[],
            "snapshot_ids":[],
            "action_ids":[
              29443477
            ]
          }
        }
  recorded_at: Sat, 26 Jul 2014 03:20:29 GMT
[...]
- request:
    method: delete
    uri: https://api.digitalocean.com/v2/droplets/2178753
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/octet-stream
      Status:
      - 204 No Content
      Ratelimit-Limit:
      - '1200'
      Ratelimit-Remaining:
      - '1161'
      Ratelimit-Reset:
      - '1406347250'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 26 Jul 2014 03:21:21 GMT
recorded_with: VCR 2.9.2
